{% extends 'base.html' %}

{% block titulo %}
	<h1>{{titulo}}</h1>
{% endblock %}


{% block contenido %}
	<h2>Hola {{nombre}}</h2>
	<p>Tus amigos son:</p>
	<ol>
	{% for amigo in amigos %}
		<li>{{amigo | capitalize}}</li>
	{% endfor %}
	</ol>
{% endblock %}