{% extends 'base.html' %}

{% block titulo %}{{titulo}}{% endblock %}

{% block contenido %}

<form method='post'>
	Nombre: <input type='text' name='user'><br>
	Password: <input type='password' name='passwd'><br>
	<input type='submit'>
	
</form>

{% for error in errores %}
	<p class='error'>{{error}}</p>
{% endfor %}

{% endblock %}
